<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetHired-job search</title>
    <link rel="stylesheet" href="mm2.css">
    <link rel="stylesheet" media="screen and (max-width:1500px)" href="screen.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Mochiy+Pop+P+One&family=The+Nautigal&family=Ubuntu:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/v5.15/icons/laptop-house?style=solid">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="Logooo.png" alt="abc" style="border: 0ch; align-items: center;">
        </div>
        <ul>
            <li class="item"><a href="#Grow">Grow</a></li>
            <li class="item"><a href="#companies-container">Companies</a></li>
            <li class="item"><a href="#services">Services</a></li>
            <li class="item"><a href="#footer">Resources</a></li>
            <li class="item"><a href="/show-entries">Resume Entries</a></li>
        </ul>
        <!-- <div id="Nav">
            <ul class="right">
                <li class="item"><a href="#login">Login</a></li>
                <li class="item"><a href="#signup">SignUp</a></li>
                <li class="item"><a href="#forEmployers">For Employers</a></li>
            </ul>
        </div> -->
    </nav>
    <section id="home">
        <h1 class="h-primary">Find your Dream Job</h1>
        <p>2 Lakhs+ jobs to explore </p>
    </section>

    <div class="searchbox">
        <div class="formbox">
            <form action="https://www.google.com/search" method="get" target="_blank_">
                <input type="text" class="in1" name="q" placeholder="  Search job">
                <input type="submit" class="in2" value="Search">
            </form>

        </div>
    </div>

    <div style="width: fit-content;  margin: 0 auto; margin-top: 100px;"><a style="background-color: blue; color: white; padding: 15px 50px; border-radius: 25px" href="/upload">Get Hired</a></div>

    <section id="companies-container">
        <div class="block">
            <h1 class="h11-primary center">Featured companies actively hiring</h1>
            <div id="companies">
                <div class="box">
                    <img src="Infosys Logo.jpg" alt="hi" class="logo">
                    <h3 class="h-secondary center"> <a href="https://www.infosys.com" target="_blank_">Infosys</a></h3>
                    <p class="center">3.5k+ reviews</p>
                    <p class="sub-review">Multinational IT company that provides business consulting..</p>
                </div>
                <div class="box">
                    <img src="HCL logo.jpg" alt="Hello" class="logo">
                    <h3 class="h-secondary center"><a href="https://www.hcltech.com" target="_blank_"> HCL </a></h3>
                    <p class="center">2.2k+ reviews</p>
                    <p class="sub-review">Globally acclaimed tech company since 1991..</p>
                </div>
                <div class="box">
                    <img src="Airtel logo.jpg" alt="3" class="logo">
                    <h3 class="h-secondary center"><a href="https://www.airtel.in" target="_blank_"> Airtel </a></h3>
                    <p class="center">4.6k+ reviews</p>
                    <p class="sub-review">Operates in 18 countries across South Asia and africa as well as the Channel
                        Islands..</p>

                </div>
                <div class="box">
                    <img src="TCS Logo.jpeg" alt="4" class="logo">
                    <h3 class="h-secondary center"><a href="https://www.tcs.com" target="_blank_"> TCS </a></h3>
                    <p class="center">3.8k+ reviews</p>
                    <p class="sub-review">It is the largest IT services company <br> in the world by market
                        capitalisation..
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div>
            <div class="blockmain">
                <h1 class="h1-primary">Our Services</h1>
                <div class="servebox">
                    <img src="digital-1.png" alt="abc" class="image">
                    <div class="below">
                        <p class="h2-secondary"> Discover Jobs across these roles</p>
                        <p class="sub-review">Select a role and we'll show you relevant jobs for it.</p>
                    </div>
                    <div class="box2">
                        <div class="box">
                            <h2 class="h2-secondary ">Full Stack Developer</h2><br>
                            <p class="low">90.3k+ jobs</p>
                        </div>
                        <div class="box">
                            <h2 class="h2-secondary ">Mobile/App Developer</h2><br>
                            <p class="low">1.2k+ jobs</p>
                        </div>
                        <div class="box">
                            <h2 class="h2-secondary ">Front End Developer</h2><br>
                            <p class="low">1.5k+ jobs</p>
                        </div>
                        <div class="box">
                            <h2 class="h2-secondary ">DevOps Engineer</h2><br>
                            <p class="low">900+ jobs</p>
                        </div>
                        <div class="box">
                            <h2 class="h2-secondary ">Technical Lead</h2><br>
                            <p class="low">14k+ jobs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Grow">
        <div class="Blockmain">
            <div>
                <h1 class="h2-grow">Grow your career <br> through learning</h1> <br>
                <img src="Graduationcap.png" alt="None" class="icon">
            </div>
            <div class="Highlight">
                <div class="Box1">
                    <p class="left1">Data Science</p>
                    <Span class="sub">Artificial intelligence</Span><br>
                    <p class="sub2">AI is not just limited to the computer and space-related industries, but it also
                        plays a significant role in industries. Learn in demand AI skills likeDeep Learning, NLP,
                        Computer Vision and more. </p> <br> <br>
                    <p class="block">800 courses</p>
                    <p class="block2">50 providers</p>
                </div>

                <div class="Box1">
                    <p class="left1">Cloud Technologies</p>
                    <Span class="sub">AWS</Span><br>
                    <p class="sub2">The Cloud has changed the way we view and interpret data. AI-based predictions
                        powered by cloud resources are now the prevalent solutions in dealing with critical business
                        decisions and goals. </p> <br> <br>
                    <p class="block">500 courses</p>
                    <p class="block2">30 providers</p>
                </div>

                <div class="Box1">
                    <p class="left1">Programming</p>
                    <Span class="sub">C and C++ Languages</Span><br>
                    <p class="sub2">Master C and C++ Languages to start your learning experience for entry level
                        engineering roles in product companies and for compeititve programming.</p> <br> <br>
                    <p class="block">300 courses</p>
                    <p class="block2">60 providers</p>
                </div>
            </div>
        </div>
    </section>

    <section id="Accelerate">
        <img src="Light.png" alt="None" class="icon2">
        <div class="head">
            <p class="h2-grow">Accelerate your job search with premium services</p>
            <p class="text">Services to help you get hired, faster; from preparing CV, <br>getting recruiter attention,
                clearing interviews, and more!</p><br>
            <input type="button" value="Resume Writing" class="button">
            <input type="button" value="Resume display" class="button">
            <input type="button" value="Priority Applicants" class="button">
        </div>
        <div class="right">
            <input type="button" value="Learn More" class="button2">
            <p class="rightText">Includes paid promotion</p>
        </div>
    </section>

    <section id="Secondlast">
        <div class="Blockmain">
            <p class="h2-grow2">Stand out among recruiters <br>with a video profile</p>
            <p class="text1">Available for both Android and Ios</p>
            <img src="MaskGroup_v4.png" alt="None" class="img">

            <div class="num">
                <p>Enter your mobile number</p>
                <input type="tel" name="Enter your mobile number">
                <input type="button" value="Get Link" class="button3">
            </div>
            <div class="linked">
                <ul type="none">
                    <li>
                        <a href="https://play.google.com/store/apps/" target="_blank">
                            <img src="https://static.naukimg.com/s/0/0/i/new-homepage/android-app.png" height="44"
                                width="144"></a>
                        <a href="https://itunes.apple.com/in/app/naukri.com-job-search/" target="_blank">
                            <img src="https://static.naukimg.com/s/0/0/i/new-homepage/ios-app.png" height="44"
                                width="144">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <!-- <hr style="border-top: 1px solid rgb(23, 124, 128);" > -->
    <section id="footer">
        <div class="box type1">
            <ul type="none">
                <div id="logo1">
                    <li><img src="Logooo.png" alt="abc"></li>
                </div>
                <li>Get-Hired.com</li>
                <li><a target="_blank_" title="Connect with us">Connect with us</a></li>
                <li>
                    <a target="_blank_" href="https://www.facebook.com" title="Follow us on Facebook" class="icons fb"
                        data-ga-track="Footer Section|Facebook Link">
                        <img src="https://static.naukimg.com/s/0/0/i/new-homepage/facebook.svg" height="30" width="30">
                    </a>
                    <a target="_blank_" href="https://instagram.com" title="Follow us on Instagram"
                        class="icons instagram" data-ga-track="Footer Section|Instagram Link">
                        <img src="https://static.naukimg.com/s/0/0/i/new-homepage/instagram.svg" height="30" width="30">
                    </a>
                    <a target="_blank_" href="https://twitter.com/naukri" title="Follow us on Twitter"
                        class="icons twitter" data-ga-track="Footer Section|Twitter Link">
                        <img src="https://static.naukimg.com/s/0/0/i/new-homepage/twitter.svg" height="30" width="30">
                    </a>
                    <a target="_blank_" href="http://www.linkedin.com/company/" title="Follow us on LinkedIn"
                        class="icons ln" data-ga-track="Footer Section|LinkedIn Link">
                        <img src="https://static.naukimg.com/s/0/0/i/new-homepage/linkedin.svg" height="30"
                            width="30"></a>
                </li>
            </ul>
        </div>

        <div class="box type2">
            <ul type="none">
                <li>
                    <a target="_blank" href="privacypolicy.gethired.com" title="Privacy policy">Privacy policy</a>
                </li>
                <li>
                    <a target="_blank" href="termsconditions.gethired.com" title="Terms &amp; conditions">Terms &amp;
                        conditions</a>
                </li>
                <li>
                    <a target="_blank" href="report-fake-job-recruiter.gethired.com" title="Fraud alert">Fraud alert</a>
                </li>
                <li>
                    <a target="_blank" href="htrust-safety.gethired.com" title="Trust &amp; safety">Trust &amp;
                        safety</a>
                </li>
            </ul>
        </div>
        <div class="box type3">
            <ul type="none">
                <li>Apply from here</li>
                <li>Get real-time job updates on our App</li>
                <li>
                    <a href="https://play.google.com/store/apps/" target="_blank">
                        <img src="https://static.naukimg.com/s/0/0/i/new-homepage/android-app.png" height="44"
                            width="151"></a>
                    <a href="https://itunes.apple.com/in/app/naukri.com-job-search/" target="_blank">
                        <img src="https://static.naukimg.com/s/0/0/i/new-homepage/ios-app.png" height="44" width="151">
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </section>

</body>

</html>